@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agdasima&family=Merriweather+Sans:wght@400&display=swap");

//  created new one
.card_container {
  margin-top: 80px;
  height: 85vh;
  width: 100%;
  .card_header {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-family: "Lora", serif;
      font-size: 46px;
    }
    
  }
  @media (max-width : 390px) {
    .card_header{
      height:10%;
      h1{
        text-align:center;
        font-size: 25px;
      }
    }
  
    
  
  @media (min-width : 390px) and (max-width : 768px) {
    .card_header{
      height: 10%;
      h1{
        text-align:center;
        font-size: 40px;
      }
    
    }
    
}
  }
  .flip-container {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    
  }
  @media (max-width : 390px) {
     .flip-container{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      gap: 2rem;
     }
  }
  @media (min-width : 390px) and (max-width : 768px) {
    .flip-container{
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     gap: 2rem;
    }
 }
  .flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
  }
  
  .flip-card-inner {
    position: relative;
    width: 75%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 5px 6px 0 rgba(217, 11, 11, 0.4);
    border-radius: 1rem;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card-front {
    background-color: #ff4500;
    color: black;
    border-radius: 1rem;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
  }
  @media (min-width : 390px) and (max-width : 768px){
    .flip-card-front{
    }
  }

  .flip-card-back {
    background-color: #ff4500;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    transform: rotateY(180deg);
    border-radius: 1rem;
    font-family: "Lora", serif;
    overflow: hidden;


    h1 {
      font-size: 3rem;
    }
    h3 {
      opacity: 0.7;
    }

    p {
      margin-top: 1.5rem;
      letter-spacing: 2px;
      line-height: 1.5rem;
      font-family: "Merriweather Sans", sans-serif;
    }
  }
  @media (max-width : 390px) {
    .flip-card-back{
      h1{
        font-size: 2rem;
      }
      p{
        line-height: 1rem;
      }
    }
  }
  
}
@media (max-width : 390px) {
  .card_container{
    margin-top: 0;
    height: 150vh;
  
  }
}
@media (min-width : 390px) and (max-width : 768px) {
  .card_container{
    margin-top: 0;
    height: 150vh;
  
  }
}

