@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Merriweather+Sans:wght@400&display=swap');
.nav_bar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 120px;
  z-index: 10;
  width: 100vw;
  height: 80px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Merriweather Sans', sans-serif;
  
  .logo {
    font-size: 1.6rem;
    cursor: pointer;
  }

  @media (max-width : 390px) {
    .logo {
      font-size : 0.9rem;
    }
   }
   @media (min-width : 390px) and (max-width : 768px) {
    .logo {
      font-size : 1.2rem;
    }
   }
   @media (min-width : 768px) and (max-width : 1024px) {
    .logo {
      font-size : 1.4rem;
    }
   }

  .link_section {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .link_section__link {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        
        ul {
            width: 100%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            li {
                font-size: 1rem;
                font-family: 'Merriweather Sans', sans-serif;
                list-style: none;
                cursor: pointer;
            }
        }
    }
    .link_section__button {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            width: 10rem;
            height: 3rem;
            background-color: rgba(255, 254, 254, 0.1);
            border-radius: 60px;
            border: none;
            color: #ffffff ;
            font-size: 1rem;
            font-family: 'Merriweather Sans', sans-serif;
            cursor: pointer;

            &:hover {
                color: #0e0d0d;
                background-color: #fff;
                border : 2px solid #FF4500;
            }

        }
    }
  }
}

@media (max-width : 390px) {
  .nav_bar {
    padding: 0 20px;
  }
 }
 @media (min-width : 390px) and (max-width : 768px) {
  .nav_bar {
    padding: 0 50px;
  }
 }
 @media (min-width : 768px) and (max-width : 1024px) {
  .nav_bar {
    padding: 0 100px;
  }
 }

