.stats_content__section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    .stats__background {
        margin-top: 80px;
        width: 100%;
        height: 60%;
        background-color: #FF4500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        h1 {
            font-size: 4rem;
            color: #fff;
            padding-top: 3rem;
            font-family: 'Lora', serif;
            font-weight: 300;
        }

        @media (max-width : 390px) {
            h1 {
              font-size: 1.8rem;
            }
           }
           @media (min-width : 390px) and (max-width : 768px) {
            h1 {
              font-size: 2.2rem;
            }
           }
           @media (min-width : 768px) and (max-width : 1024px) {
            h1 {
              font-size: 3rem;
            }
           }

        .stats__content {
            position: absolute;
            bottom: 2rem;
            width: 90%;
            height: 60%;
            padding: 3rem 5rem;
            background-color: #fff;
            display: flex;
            gap: 3rem;
            box-shadow: 0px 3px 10px 5px rgba(0,0,0,0.3);
            border-radius: 10px;
            

            .stats__content_card {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: 2rem;

                img {
                    width: 80%;
                    height: 50%;
                    object-fit: cover;
                }

                h1 {
                    color: #FF4500;
                    font-size: 2rem;
                    padding: 0;
                }
                
                p{
                    font-size: 1rem;
                    text-align: center;
                    font-family: 'Merriweather Sans';
                }
            }
        }
        @media (max-width : 1024px) {
            .stats__content {
                overflow-x: scroll;
            }
        }
    }
}