@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.about_container {
  margin-top: 9.5rem;
  height: 30rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  .left_about {
    height: 100%;
    width: 40%;
    border-radius: 8px;
    cursor: pointer;
    img {
      height: 100%;
      width: 100%;
      background: transparent;
      border-radius: 8px;
      object-fit: cover;
    }
  }
  .right_about {
    height: 100%;
    width: 40%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    h2 {
      font-family: "Poppins";
      font-size: 19px;
      font-weight: 600;
      margin-top: 4rem;
      margin-bottom: 1rem;
      color: #ff4500;
    }
    h1 {
      font-family: "Poppins";
      font-size: 42px;
      font-weight: 600;
      margin-top: 2rem;
      margin-bottom: 1rem;
      color: #ff4500;
    }
    p {
      font-family: "Roboto", sans-serif;
      font-size: 21px;
      font-weight: 300;
      text-align: justify;
      line-height: 1.5;
      padding: 2rem;
      .strName {
        color: #ff4500;
      }
    }
  }
}
.chooseus_container {
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
  height: 25rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .chooseus_childs {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 0.8rem;
    margin: auto;
    height: 100%;
    width: 40%;
    cursor: pointer;
    border-radius: 8px;
    p {
      font-family: "Roboto", sans-serif;
      font-size: 21px;
      font-weight: 300;
      text-align: left;
      line-height: 2.3;
    }
    h1 {
      font-family: "Poppins";
      color: #ff4500;
    }
    img {
      height: 100%;
      width: 90%;
      background: transparent;
      border-radius: 8px;
      object-fit: cover;
    }
  }
  button {
    width: 10rem;
    height: 3rem;
    border-radius: 60px;
    border: none;
    font-family: "Poppins", sans-serif;
    cursor: pointer;

    &:hover {
      color: #ff4500;
      background-color: #fff;
    }
  }
  .first_button {
    background-color: #ff4500;
    color: #fff;
    border: 2px solid #ff4500;
  }
}
